mixin projectNav(p, c)
  pLink = '/' + p.username + '/' + p.location
  resUrl = c ? (pLink + '/commit/' + c.order) : pLink
  .row
    .col-md-7
      h1.project-urls
        a(href='/' + p.username)= p.username
        = ' / '
        a(class='project-name', href=pLink)= p.location
        if c
          = ' / '
          a(href=resUrl) commit / #{c.order}
    .col-md-5.project-btns
      .btn-group
        if !c && session.userId in p.contributorsIds
          a.btn.btn-success(href=resUrl + '/edit')
            i(class='glyphicon glyphicon-pencil')  Edit
        a.btn.btn-default(href=resUrl + '/pdf')
          i(class='glyphicon glyphicon-share')  View PDF
        a.btn.btn-default(href=resUrl + '/fork')
          i(class='glyphicon glyphicon-random')  Fork
        a.btn.btn-default(href=resUrl + '/zip')
          i(class='glyphicon glyphicon-cloud-download')  Download ZIP

mixin projectThumb(p, c)
  if c.thumbs[0]
    .thumbnail.thumb
      img(src=storeUrl(c.thumbs[0]), alt=p.username + ' ' + p.location,
          data-thumbs=c.thumbs.join(' '))
  else
    .alert.alert-danger
      p Invalid commit.

mixin listProjects(projects, showUser)
  - for (var i = 0; i < projects.length; i += 3) {
    .row
      - for (var j = 0; j < 3 && i + j < projects.length; j++) {
        .col-md-4
          p = projects[i + j]
          c = p.commit
          .thumbnail.thumb.explore-thumb
            p.top
              if showUser
                a(href='/' + p.username)= p.username
                = ' / '
              a(href='/' + p.username + '/' + p.location)= p.location
              a(href='javascript:void(0)').flip-book
                i(class='glyphicon glyphicon-book')
            .inner
              if c.thumbs[0]
                a(href='/#{p.username}/#{p.location}/pdf')
                  img(src='#{storeUrl(c.thumbs[0])}',
                  alt="#{p.username} #{p.location}",
                  data-thumbs='#{c.thumbs.join(" ")}')
              else
                .alert.alert-danger
                  p Invalid commit.
      - }
  - }

mixin projectFiles(p, c, projRel)
  - var files = c.files.filter(function (e) { return e !== null; }).sort();
  baseUrl = (projRel ? p.location + '/commit/' : '') + c.order + '/view/'

  .panel.panel-info.panel-simple-list.panel-files
    .panel-heading
      p Files
        if projRel
          |  (
          a(href=p.location + '/commit/' + c.order) Commit #{c.order}
          | )
    .panel-body
      for file in files
        p
          a(href=baseUrl + file)= file
