block variables
  title = p.username + '/' + p.location + ' history'
extends project

block content2
  for cm in commits
    .panel.panel-info.panel-simple-list.panel-commit
      url = p.location + '/commit/' + cm.order
      urlPrev = p.location + '/commit/' + (cm.order - 1)
      .panel-heading
        p
          span.commit
            a(href=url) Commit #{cm.order}
            = ' '
            if cm.pdfFile !== null
              span
                | (
                a(href=url + '/pdf') PDF
                = ', '
                a(href=url + '/zip') ZIP
                | )
            else
              span (errors)
          span.date= prettyDate(cm.created)
          span.authors
            for a in cm.authors
              a(href='/' + a.username)
                img(src=storeUrl(a.avatarHash), alt=a.username + "'s avatar")
                = ' ' + a.username
              = ' '
            if cm.authors.length === 0
              a &nbsp;
      .panel-body
        for mod in cm.mods
          path = cm.files[mod[0]]
          pathPrev = mod[2]
          case mod[1]
            when 'a'
              p added <a href='#{url}/view/#{path}'>#{path}</a>
            when 'd'
              p deleted <a href='#{urlPrev}/view/#{pathPrev}'>#{pathPrev}</a>
            when 'c'
              p changed <a href='#{url}/view/#{path}'>#{path}</a>
                if cm.order > 0
                  &nbsp;<a href='#{p.location}/diff?a=commit/#{cm.order - 1}/#{path}&b=commit/#{cm.order}/#{path}'>(diff)</a>
            when 'm'
              p moved <a href='#{urlPrev}/view/#{pathPrev}'>#{pathPrev}</a> to <a href='#{url}/view/#{path}'>#{path}</a>
            when 'cm'
              p changed <a href='#{urlPrev}/view/#{pathPrev}'>#{pathPrev}</a> to <a href='#{url}/view/#{path}'>#{path}</a>
                if cm.order > 0
                  &nbsp;<a href='#{p.location}/diff?a=#{cm.order - 1}/#{pathPrev}&b=#{cm.order}/#{path}'>(diff)</a>
