block variables
  title = p.username + '/' + p.location
extends project

block content2
  .row
    .col-md-4.project-info-column
      .thumbnail.thumb
        if c.thumbs[0]
          img(src='#{storeUrl(c.thumbs[0])}', alt="#{p.username} #{p.location}",
            data-thumbs='#{c.thumbs.join(" ")}')
        else
          p Invalid commit.
    .col-md-8

block scripts
  script(src='/s/js/thumbs.js')
