extends layout

block content
  .container
    - var pLink = '/' + p.username + '/' + p.location
    h1.project-urls
      | <a href='/#{p.username}'>#{p.username}</a> /
      | <a href='#{pLink}'>#{p.location}</a>
    .nav.nav-tabs.margin-bottom-15
      for tab in tabs
        if tab[0] === activeTab
          li.active
            a= tab[1]
        else
          li
            a(href='#{ tab[2] ? tab[2] : "/"+p.username+"/"+p.location }')= tab[1]
      
    block content2
